.App {
  text-align: center;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#left-movie-container { position: absolute; border: 2px solid black; max-width: 400px; left: 0; }

#right-movie-container { 
  position: absolute; 
  border: 2px solid black; 
  max-width: 400px; 
  right: 0; 
  width: 100%;
}

#movie { 
  position: relative; 
  background-color: #64c86420; 
}

 #movie { 
   position: relative; 
   background-color: #64c86420; 
   transition: all 0.3s;
 
   &:hover {
     background-color: rgba(100, 200, 100, 0.44);
   }
  }

#movie-title { font-weight: 500; font-size: large; }

#right-movie-container #movie { 
  background-color: #c8646420; 

  &:hover {
    background-color: rgba(100, 200, 100, 0.44);
  }

}

@media (max-width: 815px) {
  #right-movie-container,
  #left-movie-container {
    max-width: 200px;
  }
}

@media (max-width: 410px) {
  #right-movie-container,
  #left-movie-container {
    max-width: 148px;
  }
}
